
body {
	background-color: ghostwhite;
	font-family: 'Manrope', sans-serif;
  }
  
h1 {
	margin-bottom: 3rem;
}

p {
	margin: 2rem;
}

img {
	height: auto;
	width: 100%;
}

.explainer {
	width: 60vw;
}

.content {
	display: flex;
	margin: auto;
	width: 60vw;
	padding: 0 10vw 10vw 10vw;
	align-content: center;
	flex-direction: column;
}

.header {
	height:10vh;
	width: 100%;
	background-color: #dcf0ea;
}

.nav-icons{
	float: right;
	display: flex;
	flex-direction: column;
	height: 80%;
	margin: 1rem 1rem 1rem 0 ;
}

.site-title{
	float: left;
	margin: 0 1rem 1rem 1rem ;
	height: 80%;
}

section {
	display: -webkit-box;
	display: flex;
	/* height: 25vh; */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			flex-direction: column;
	margin-bottom: 5rem;
}
@media screen and (min-width: 35rem) {
section {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
			flex-direction: row;
}
}
section > * {
-webkit-box-flex: 1;
		flex: 1;
}

article {
	padding: 0 1rem;
}
article p {
	font-family: 'Manrope', sans-serif;
	font-size: 1.1rem;
	line-height: 1.8;
}
@media screen and (min-width: 35rem) {
article p {
	margin: 0;
}
}
@media screen and (min-width: 35rem) {
article p:not(:last-of-type) {
	min-height: 90vh;
}
}

text {
	-webkit-box-align: center;
			align-items: center;
	align-self: flex-start;
	background-color: #045331;
	color: white;
	display: -webkit-box;
	display: flex;
	height: auto;
	margin: 0;
	width: 100%;
	-webkit-box-pack: center;
			justify-content: center;
	top: 3rem;
}
@media screen and (min-width: 35rem) {
text {
	position: -webkit-sticky;
	position: sticky;
}
}
  


#gameCanvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

#score {
	text-align: center;
	font-size: 100px;
	font-family: 'Antic Slab', serif;
  }